# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Never ignore Asset meta data
!/[Aa]ssets/**/*.meta

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash reports / builds
sysinfo.txt
*.apk
*.aab
*.app
crashlytics-build.properties

# macOS
.DS_Store
